:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-gray: #F2F2F2;
  --basic-gray: #EEEEEE;
  --basic-dark-gray: #A9A9A9;

  --basic-dark: #231F20;
  --basic-extra-dark: #333333;
  --basic-dark-red: #491213;
  --basic-dark-brown: #766357;
  --basic-brown: #766458;
  --basic-red: #DC6243;
  --basic-orange: #F49774;
  --basic-pink: #F4B1A4;

  --basic-blue: #81B3D2;
  --basic-blue2: #81B3D3;
  --basic-dark-blue: #23A9E1;

	--background-footer-color: rgba(255, 255, 255, 0.9);
	--button-hover: #669EC0;
	--button-active: #5496BD;
	--logo-press: #BDBBBC;
	--search-hover: #604E43;
	--search-active: #503E33;
}

.visually-hidden {
  display: none;
}

/* Global */

body {
  min-width: 1200;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.h {
  font-size: 21;
}


.features-item {

}
